.books-view {
  padding: 25px;

  #filter {
    margin: 5px;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      border: 1px solid gray;
      padding: 8px;
    }

    th {
      text-align: left;
      background: #EEE;
    }
  }
}