<h1><%= title %></h1>

<fieldset>
    <label>Title</label>
    <input type="text" class="title" value="<%= title %>"/>
</fieldset>
<fieldset>
    <label>Language</label>
    <select class="language">

    </select>
</fieldset>
<fieldset>
    <label>Edition</label>
    <input type="text" class="edition" value="<%= edition %>"/>
</fieldset>
<fieldset>
    <label>Publisher</label>
    <input type="text" class="publisher" value="<%= publisher %>"/>
</fieldset>

<button class="toggle-enabled">Disable</button>
<button class="update">Update</button>