.static-view > {
    .hello {
        background: lightpink;
        height: 100px;
    }

    .hello-again {
        height: 100px;
        background: lightgoldenrodyellow;
    }

    .bye{
        background: lightblue;
        height: 100px;
    }
}