<div class="header">
    <div class="title">Books</div>
    <div class="add-button fa fa-plus-circle"></div>
</div>
<div class="filter-section">
    <div class="filter">
        <div class="fa fa-filter"></div>
        <input type="text" id="filter">
    </div>
    <div class="order">
        <div class="fa fa-sort"></div>
        <select name="order" id="order">
            <option value=""></option>   
            <option value="title">title</option>
            <option value="language">language</option>
            <option value="edition">edition</option>
            <option value="publisher">publisher</option>
        </select>
    </div>
</div>
<div class="content">
    <div class="list">

    </div>
</div>