<!--<div class="header hide-landscape">
    <div class="back-button fa fa-chevron-left"></div>
    <div class="title">
        <%= name %>
    </div>
</div>-->

<div class="content">
    <p class="label"><b>Name:</b>&nbsp;
        <%= name %>
    </p>
    <p class="label"><b>Height:</b>&nbsp;<span><%= height %></span></p>
    <p class="label"><b>Mass:</b>&nbsp;
        <%= mass %>
    </p>
    <p class="label"><b>Hair color:</b>&nbsp;
        <%= hair_color %>
    </p>
    <p class="label"><b>Skin color:</b>&nbsp;
        <%= skin_color %>
    </p>
    <p class="label"><b>Eye color:</b>&nbsp;
        <%= eye_color %>
    </p>
    <p class="label"><b>Birth year:</b>&nbsp;
        <%= birth_year %>
    </p>
    <p class="label"><b>Gender:</b>&nbsp;
        <%= gender %>
    </p>
</div>