<div class="header">
    <div class="back-button fa fa-chevron-left"></div>
    <div class="title"><%= name %></div>
</div>
<div class="content">
    <div class="detail">
        <div>Name</div>
        <div><%= name %></div>
    </div>
    <div class="detail">
        <div>Height</div>
        <div><%= height %>m</div>
    </div>
    <div class="detail">
        <div>Mass</div>
        <div><%= mass %>kg</div>
    </div>
    <div class="detail">
        <div>Hair color</div>
        <div><%= hair_color %></div>
    </div>
    <div class="detail">
        <div>Skin color</div>
        <div><%= skin_color %></div>
    </div>
    <div class="detail">
        <div>Eye color</div>
        <div><%= eye_color %></div>
    </div>
    <div class="detail">
        <div>Birth year</div>
        <div><%= birth_year %></div>
    </div>
    <div class="detail">
        <div>Gender</div>
        <div class="fa <%= genderIcon[gender] %>"></div>
    </div>
</div>