<h1 style="color: <%= colorByLanguage[language] %>"><%= title %></h1>

<fieldset>
    <label>Title</label>
    <input type="text" class="title" value="<%= title %>"/>
</fieldset>
<fieldset>
    <label>Language</label>
    <input type="text" class="language" value="<%= language %>"/>
</fieldset>
<fieldset>
    <label>Edition</label>
    <input type="text" class="edition" value="<%= edition %>"/>
</fieldset>
<fieldset>
    <label>Publisher</label>
    <input type="text" class="publisher" value="<%= publisher %>"/>
</fieldset>

<button class="toggle-enabled">Disable</button>