<div class="header landscape-hide">
    <div class="back-button fa fa-chevron-left"></div>
    <div class="title"><%= title %></div>
</div>
<div class="content">
    <div class="details">
        <div class="detail">
            <label for="title">Title</label>
            <input type="text" value="<%= title %>" id="title">
        </div>
        <div class="detail">
            <label for="language">Language</label>
            <input type="text" value="<%= language %>" id="language">
        </div>
        <div class="detail">
            <label for="edition">Edition</label>
            <input type="text" value="<%= edition %>" id="edition">
        </div>
        <div class="detail">
            <label for="publisher">Publisher</label>
            <input type="text" value="<%= publisher %>" id="publisher">
        </div>
    </div>

    <button class="btn-update">
        Update
    </button>
</div>