.layout-view {
  @include absolute(0, 0, 0, 0);

  .left {
    overflow: auto;  
    @include absolute(0, 50%, 0, 0);
  }

  .right {
    @include absolute(0, 0, 0, 50%);
    background: lightgrey;
  }
}

.books-collection-view {
  .book-child-view {
    height: 55px;
    background: white;
    border-bottom: 1px solid lightgray;

    div {
      font-size: 15px;
      padding: 20px 0 0 10px;  
    }
  }
}

.book-detail-view {
  div {
    height: 40px;
    border-bottom: 1px solid lightgray;
  }
}