//
// Simplificar aplicando la sintaxis de SCSS
//

.menu {
  @include absolute(0, 0, auto, 0);
  height: 50px;

  .logged-user {
    padding: 20px;

    .avatar {
      display: block;
      width: 100px;

      i {
        color: #888;
        line-height: 100px;
      }
    }

    .controls {
      @include absolute(auto, 0, 0, 0);
      height: 20px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    height: 100%;
    
    li {
      position: relative;
      line-height: 50px;

      &.current {
        background: silver;
      }

      i {
        line-height: 50px;
        font-size: 14pt;
      }

      &:first-child {
        border-top: 1px solid silver;
      }
    }
  }
}