<div class="header">
    <div class="title">Login</div>
</div>
<div class="content">
    <div class="login-form">
        <div>
            <label for="inputUser">User</label>
        </div>
        <div>
            <input type="text" id="inputUser" placeholder="Username">
        </div>
        <div>
            <label for="inputPass">Password</label>
        </div>
        <div>
            <input type="password" id="inputPass" placeholder="Password">
        </div>
        <div>
            <button id="btn-login">Log In</button>
        </div>
    </div>
</div>