<div class="header">
    <div class="back-button fa fa-chevron-left"></div>
    <div class="title"><%= name %></div>
</div>
<div class="content">
    <div class="detail">
        <div>Name</div>
        <div><%= name %></div>
    </div>
    <div class="detail">
        <div>Rotation period</div>
        <div><%= rotation_period %></div>
    </div>
    <div class="detail">
        <div>Orbital period</div>
        <div><%= orbital_period %></div>
    </div>
    <div class="detail">
        <div>Diameter</div>
        <div><%= diameter %></div>
    </div>
    <div class="detail">
        <div>Climate</div>
        <div><%= climate %></div>
    </div>
</div>