.my-view {
    .box {
        width: 200px;
        height: 200px;
        margin: 25px;
        background: lightblue;

        @media (orientation: landscape){
            & {
                background: blue;
            }
        }

        @media (orientation: portrait){
            & {
                background: red;
            }
        }
    }
}