.books-collection-view {
  list-style: none;
  padding: 0;
  margin: 0;

  .book-child-view {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid silver;

    .language {
      font-size: 10pt;
    }

    .remove {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
}