.books-view {

  #filter, #order {
    margin: 5px;
  }

  .books-collection-view {
    list-style: none;
    padding: 0;
    margin: 0;

    .book-child-view {
      padding: 15px;
      border-bottom: 1px solid silver;

      &:first-child {
        border-top: 1px solid silver;
      }

      .language {
        font-size: 10pt;
      }
    }
  }
}

